.card-circle{
  display: grid;

   .card-img{
      object-fit: cover;
      overflow: hidden;
      width: 100%;
      // aspect ratio for image
      aspect-ratio: 1/1;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        background-color: $background;
      }
  }
}