.hospitals-section {
	display: flex;
	align-items: center;

	.title {
		text-align: center;
		margin-bottom: 4rem;
		font-size: 40px;
		font-weight: bold;
		color: $text-primary;
	}
	.btn-center {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 4rem;

		button {
			background-color: $primary;
			color: #fff;
		}
	}
}
