@import './variables.scss';
@import '../style/components/Navbar.scss';
@import '../style/components/Home.scss';
@import '../style/components/Services.scss';


.container{
  width: 90%;
  max-width: 1200px;
  margin:  0 auto;
}

a{
  text-decoration: none;
  color: $text-primary;
  &:hover {
    color: $primary;
  }
}

section{
  width: 100%;
  height: 900px;
}

button{
  padding: .8rem 1rem;
  border: none;
  font-size: 25px;
  border-radius: 5px;
  font-weight: 500;

  i{
    font-size: 25px;
    font-weight: normal;
    margin-right: .3rem;
  }
}