@import './variables.scss';
@import '../style/components/Navbar.scss';
@import '../style/components/Home.scss';
@import '../style/components/Services.scss';
@import '../style/components/Hospitals.scss';
@import '../style/components/HospitalListItem.scss';
@import '../style/components/HospitalList.scss';
@import '../style/components/Doctors.scss';
@import '../style/components/DoctorList.scss';
@import '../style/components/DoctorListItem.scss';
@import '../style/components/Footer.scss';
@import '../style/components/ListHeader.scss';
@import '../style/components/HospitalInfo.scss';
@import '../style/components/Button.scss';


.container{
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.layout-section {
  padding: 8rem 0;
  background-color: $white;

  &.bg {
    background-color: $background;
  }
}

a{
  text-decoration: none;
  color: $text-primary;
  &:hover {
    color: $primary;
  }
}

button{
  padding: .8rem 1rem;
  border: none;
  font-size: 1.1rem;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;

  i{
    font-size: 1.1rem;
    font-weight: normal;
    margin-right: 0.75rem;
  }
 
}
