@import './variables.scss';
@import '../style/components/Navbar.scss';
@import '../style/components/Home.scss';
@import '../style/components/Services.scss';
@import '../style/components/Hospitals.scss';
@import '../style/components/HospitalListItem.scss';
@import '../style/components/HospitalList.scss';
@import '../style/components/Doctors.scss';
@import '../style/components/DoctorList.scss';
@import '../style/components/DoctorListItem.scss';
@import '../style/components/Footer.scss';
@import '../style/components/ListHeader.scss';
@import '../style/components/HospitalInfo.scss';
@import '../style//components/DoctorInfo.scss';


.container{
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &.center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
  }
}

.layout-section {
  padding: 8rem 0;
  background-color: $white;

  &.bg {
    background-color: $background;
  }
}

a{
  text-decoration: none;
  color: $text-primary;
  &:hover {
    color: $primary;
  }
}

button{
  padding: .8rem 1rem;
  border: none;
  font-size: 1.1rem;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;

  i{
    font-size: 1.1rem;
    font-weight: normal;
    margin-left: 0.75rem;
  }
  &.btn-blue{
    background-color: $primary;
    color: #fff;
  } 
}

.p-2 {
  padding: 2rem 0;
}
.p-3 {
  padding: 3rem 0;
}
.p-4 {
  padding: 4rem 0;
}
.p-5 {
  padding: 5rem 0;
}